In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
data_train=pd.read_csv("Property_train.csv")
data_test=pd.read_csv("Property_test_share.csv")

In [5]:
data_train.head()

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,A,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0
1,1,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,A,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0
2,0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,A,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0
3,0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,A,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0
4,0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,A,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0

In [8]:
data_train.columns

Index(['Junk', 'InteriorsStyle', 'PriceIndex8', 'ListDate', 'Material',
       'PriceIndex9', 'Agency', 'AreaIncomeType', 'EnvRating', 'PriceIndex7',
       'ExpeditedListing', 'PriceIndex4', 'PriceIndex1', 'PriceIndex6',
       'PRIMEUNIT', 'Channel', 'Zip', 'InsurancePremiumIndex', 'PlotType',
       'Architecture', 'PriceIndex3', 'Region', 'PriceIndex5', 'SubModel',
       'Facade', 'State', 'NormalisedPopulation', 'BuildYear', 'RegionType',
       'PropertyAge', 'PriceIndex2'],
      dtype='object')

In [12]:
data_train['EnvRating'].unique()

array(['missing', 'GREEN', 'RED'], dtype=object)

In [19]:
#Que 1
tot_Env = len(data_train['EnvRating'])
Env_miss = data_train['EnvRating'].eq("missing").sum()
print("Total missing terms " , Env_miss)
print("percentage of missing terms " , (Env_miss / tot_Env)* 100 )

Total missing terms  59092
percentage of missing terms  95.25590392520351

In [20]:
#Que 2
# First Convert ListDate to datetime
data_train["ListDate"] = pd.to_datetime(data_train["ListDate"])
data_train["ListDate"]

0       2010-09-07
1       2009-01-07
2       2010-06-23
3       2009-03-19
4       2010-03-03
           ...
62030   2010-03-31
62031   2010-10-20
62032   2009-05-19
62033   2009-04-30
62034   2010-11-03
Name: ListDate, Length: 62035, dtype: datetime64[ns]

In [30]:
month_counts = data_train["ListDate"].dt.month.value_counts()
print("higest time repeated months", month_counts.idxmax() )
print("how many time count", month_counts.max() )

higest time repeated months 10
how many time count 6098

In [35]:
# que 3
a = data_train[data_train["AreaIncomeType"] == "A"]
agency_counts = a["Agency"].value_counts()
print("The agency category with the highest number of listings from AreaIncomeType A is:" ,agency_counts.idxmax())
print("how many:" ,agency_counts.max())

The agency category with the highest number of listings from AreaIncomeType A is: CAT1
how many: 10275

In [36]:
# que 4
b = data_train.groupby('State')["PropertyAge"].median()
print(b.idxmax() , ":", b.max())

AR : 6.0

In [42]:
# que 5  # first conv data into numberical using pd.to_numeric
x = pd.to_numeric(data_train["PriceIndex1"], errors='coerce') 
price_index1_variance = np.var(x)
round(price_index1_variance)

6066861

In [47]:
# que 6
n = data_train[data_train["Architecture"] == "YIK5"]
m = n["NormalisedPopulation"].mean().round()
print("NormalisedPopulation for Architecture code 'YIK5'" ,  m)

NormalisedPopulation for Architecture code 'YIK5' 73381.0

In [57]:
# que 7
c = pd.to_numeric(data_train["PriceIndex8"], errors='coerce')  # 'coerce' to handle non-numeric values
price_index_range_max = np.max(c)
price_index_range_min = np.min(c)
print("price_index_range",price_index_range_min ,"to" ,price_index_range_max  )

price_index_range 0.0 to 41062.0